<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <title>
        <%=data.volumeInfo.title%> | Bibliodome | Where Words Come To Life
    </title>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div class="container text-center">
        <h1><%-data.volumeInfo.title%></h1>
        <div class="row">
            <div class="col-sm-4">
                <img src="<%=data.volumeInfo.imageLinks.thumbnail%>" />
            </div>
            <div class="col-sm-8">
                <h2><%-data.volumeInfo.authors%></h2>
                <p class="book-description">
                    <%-data.volumeInfo.description%>
                </p>
            </div>
        </div>
    </div>
    <form action="/reviews/<%=data.id%>/new?_method=PUT" method="POST">
        <label for="review">Your Review:</label>
        <textarea name="review" type="text" placeholder="Your Review"></textarea>
        <div class="rating">
            <label>
                <input type="radio" name="stars" value="1" />
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="2" />
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="3" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="4" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
            <label>
                <input type="radio" name="stars" value="5" />
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
                <span class="icon">★</span>
            </label>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>