<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <title>
        <%=data.volumeInfo.title%> | Bibliodome | Where Words Come To Life
    </title>
</head>

<body>
    <div class="wrapper bk">
        <% include ../partials/nav.ejs %>
        <main>
            <div class="container">
                <h2><%-data.volumeInfo.title%></h2>
                <div class="row">
                    <div class="col s12 m3">
                        <img src="<%=data.volumeInfo.imageLinks.thumbnail%>" />
                    </div>
                    <div class="col s12 m9">
                        <h4><%-data.volumeInfo.authors%></h4>
                        <p class="book-description">
                            <%-data.volumeInfo.description%>
                        </p>
                    </div>
                </div>
                <div class="center-align">
                    <form action="/reviews/<%=data.id%>/new?_method=PUT" method="POST">

                        <!-- Star Rating -->
                        <div class="stars">
                            <input class="star star-5" id="star-5" type="radio" name="stars" value="5" />
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="stars" value="4" />
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="stars" value="3" checked />
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="stars" value="2" />
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="stars" value="1" />
                            <label class="star star-1" for="star-1"></label>
                        </div>
                        <div class="row container">
                            <div class="input-field col s12">
                                <textarea name="review" id="textarea-review" class="materialize-textarea"></textarea>
                                <label for="textarea-review">Your Review</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light submit-rating" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </main>
        <% include ../partials/footer.ejs %>
    </div>
</body>

</html>