<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <title>Bibliodome | Where Words Come To Life</title>
</head>

<body>
    <div class="wrapper">
        <% include ../partials/nav.ejs %>
        <main>
            <div class="container">
                <% if (currentUser) { %>
                <% if (currentUser.username === profileUser) { %>
                <h2>Welcome, <%=currentUser.name%>!</h2>
                <% } %>
                <% } %>

                <div class="row">
                    <div class="col s12 m3">
                        <h4><%= profileUser%>'s Profile</h4>
                        <% if (currentUser) { %>
                        <% if (profileUser === currentUser.username) { %>
                        <blockquote>Name: <%= currentUser.name%></blockquote>
                        <% } %>
                        <% } %>
                        <blockquote>Username: <%= profileUser%></blockquote>
                        <% if (currentUser) { %>
                        <% if (profileUser === currentUser.username) { %>
                        <button class="btn" href="/users/profile/<%=currentUser.username%>/edit">Edit
                            Profile</button>
                        <% } %>
                        <% } %>
                    </div>
                    <div class="col s12 m9">
                        <h4>All Reviews</h4>
                        <div class="cardHolder">
                            <% for (let i = 0; i < reviews.length; i++) {%>
                            <div class="col s12 m6">
                                <div class="card teal darken-2">
                                    <div class="card-content white-text">
                                        <a href="/books/<%= reviews[i].book.id %>"
                                            class="card-title teal-text text-accent-1"><%=reviews[i].book.title%></a>
                                        <p>Review: <%=reviews[i].review%></p>
                                        <p>Rating: <%=reviews[i].rating%></p>
                                    </div>
                                    <% if (currentUser) { %>
                                    <% if (profileUser === currentUser.username) { %>
                                    <div class="card-action">
                                        <a class="btn" href="/reviews/<%=reviews[i].book.id%>/edit-review">Edit
                                            Review</a>
                                        <form
                                            action="/reviews/<%=reviews[i]._id%>/<%=reviews[i].book.id%>?_method=DELETE"
                                            method="POST" class="deleteReview">
                                            <input type="submit" class='btn' value="Delete Review" />
                                        </form>
                                    </div>
                                    <% } %>
                                    <% } %>
                                </div>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    <% include ../partials/footer.ejs %>
                        </div>
</body>

</html>